        @font-face {
            font-family: s_regular;
            src: url("../Fonts/sansation_regular.eot");
            src: url("../Fonts/sansation_regular.ttf") format('truetype');
            src: url("../Fonts/sansation_regular.woff") format('woff');
        }
        
        @font-face {
            font-family: s_light;
            src: url("../Fonts/sansation_light.eot");
            src: url("../Fonts/sansation_light.ttf") format('truetype');
            src: url("../Fonts/sansation_light.woff") format('woff');
        }
        
        body {
            background-image: url("../Images/background.jpg");
            background-color: #000000;
            color: #FFFFFF;
            margin-bottom: 1.2em;
            font-family: s_light, Arial;
        }
        
        h1 {
            font-family: s_regular, Arial;
            color: white;
            font-size: 2.5em;
            text-decoration: none;
        }
        
        h2 {
            font-family: s_light, Arial;
            color: white;
            font-size: 2em;
            text-decoration: none;
        }
        
        p {
            font-family: s_light, Arial;
            font-size: 1.2em;
            color: #FFFFFF;
        }
        
        a {
            text-decoration: none;
        }
        
        button {
            font-family: s_regular, Arial;
        }
        
        li {
            color: #39A8DC;
            font-size: 1em;
        }
        
        header {
            width: 100%;
            display: inline-block;
        }
        
        footer {
            position: absolute;
            display: block;
            padding-top: 10px;
            padding-bottom: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        
        footer a {
            color: #39A8DC;
            font-family: s_regular, Arial;
            text-decoration: none;
        }
        
        img {
            width: 250px;
            height: 250px;
        }
        
        input[type=text] {
            width: 25%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
        
        input[type=text]:focus {
            background-color: lightblue;
        }
        
        .bw {
            background-image: url("../Images/background_bw.jpg");
        }
        
        .btn {
            font-size: 1em;
            color: #000000;
            cursor: pointer;
        }
        
        .file {
            font-family: Arial;
            cursor: pointer;
            color: #000000;
            font-size: 1em;
            background: #ffffff;
            text-decoration: none;
            -webkit-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
            box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
        }
        
        .hamburger {
            background: none;
            position: absolute;
            top: 0;
            right: 0;
            line-height: 45px;
            padding: 5px 5px 5px 5px;
            color: #FFFFFF;
            border: 0;
            font-size: 3em;
            font-weight: bold;
            cursor: pointer;
            outline: none;
            z-index: 1000000;
        }
        
        .cross {
            background: none;
            position: absolute;
            top: 10px;
            right: 0;
            padding: 5px 5px 5px 5px;
            color: #FFFFFF;
            border: 0;
            font-size: 6em;
            line-height: 65px;
            font-weight: bold;
            cursor: pointer;
            outline: none;
            z-index: 1000000;
        }
        
        .menu {
            z-index: 1000000;
            font-family: s_light, Arial;
            font-weight: bold;
            top: 45px;
            right: 0;
            width: 20%;
            background: rgba(0, 0, 0, 0.75);
            position: absolute;
            text-align: center;
            font-size: 18px;
        }
        
        .menu ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            list-style-image: none;
        }
        
        .menu li {
            display: block;
            padding: 15px 0 15px 0;
        }
        
        .menu li:hover {
            background: #FFFFFF;
        }
        
        .menu ul li a {
            text-decoration: none;
            margin: 0px;
            color: #39A8DC;
        }
        
        .menu ul li a:hover {
            color: #39A8DC;
            text-decoration: none;
        }
        
        .menu a {
            text-decoration: none;
            color: #39A8DC;
        }
        
        .menu a:hover {
            text-decoration: none;
            color: #39A8DC;
        }
        
        .menu .here {
            color: #FFFFFF;
            border-right: 15px solid #FFFFFF;
            cursor: default;
        }
        
        .menu .here:hover {
            color: #FFFFFF;
            border-right: 15px solid #FFFFFF;
            cursor: default;
            background: rgba(0, 0, 0, 0.75);
        }
        
        .names {
            text-align: center;
        }
        
        .filterBlack {
            filter: blur(5px) grayscale(80%);
            -webkit-filter: blur(5px) grayscale(80%);
            -moz-filter: blur(5px) grayscale(80%);
            -o-filter: blur(5px) grayscale(80%);
            -ms-filter: blur(5px) grayscale(80%);
            z-index: 10000000000000;
        }
        
        .filterClear {
            filter: blur(0px);
            -webkit-filter: blur(0px);
            -moz-filter: blur(0px);
            -o-filter: blur(0px);
            -ms-filter: blur(0px);
            z-index: 10000000000000;
        }